body {
  font-size: 110%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #F1F7ED;
}

header {
  font-size: 100px;
  color: #3685B5;
  text-align: center;
}

h1 {
  color: #3685B5;
}

.start {
  text-align: center;
}
